@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

*{
  font-family: 'Rubik', sans-serif;
  transition: 0.3s;
}

html{
  margin: 0;
}

body{
  margin: 0;
}

.container{
    max-width: 100%;
    padding: 10px 25px;      
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  gap: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(211, 219, 231, 0.7);
  border-radius: 25px;
}

.title{
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
  color: #1D293F;
}

.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: #EE684E;
  border-radius: 15px;
  //for text inside btn
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

p{
  margin: 0;
}

h1{
  margin: 0;
}

.header{

  &__box{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid rgba(211, 219, 231, 0.5);
  }

  // логотип має невеличкий відступ знизу
  &__logo{
  }

  &__buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 30px;
      gap: 15px;
  }

  &__log-in-btn{
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #475569;
      text-decoration: none;
  }

}

.first-screen{

  &__box{
    padding-bottom: 60px;
  }

  &__form{
  }

  &__select{
    background: #FFFFFF;
    border: 1px solid #D3DBE7;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    // for text
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475569;
  }

  &__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    justify-content: space-around;
    list-style: none;
  }

  &__list-el{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #6AA6DA;
    border-bottom: 1px solid #6AA6DA;

    &--not-link{
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: #475569;
      border-bottom: transparent;
    }
  }

  &__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #475569;
  }

  &__btn{
    padding: 15px 30px;
  }
}

.trusted{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F7F8FC;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(211, 219, 231, 0.7);

  &__box{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  &__text-by{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #475569;
  }

  &__numbers{
    margin: 0;
  }

  &__text-customers{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #475569;
  }

  &__reviews{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 24px;
  }

  &__review-card{
    display: grid;
    align-items: center;
    padding: 6px 8px;
    width: 33.3%;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.5);
    border-radius: 15px;
    
    grid-template: 
      "web web web web"
      "pnt str str str";
  }

  &__website-icon{
    grid-area: web;
    margin-bottom: 9.6px;
  }

  &__points{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #1D293F;
    margin: 0;
    margin-right: 10px;
    grid-area: pnt;
  }

  &__start{
    grid-area: str;
  }
}

// не знаю як зробити крапочки для UL, як на макеті
.we-know{
  
  &__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px 0;
  }

  &__img{
  }

  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #1D293F;
  }

  &__list{

  }

  &__list-item{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #475569;
  }
}

.your-life{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: #F7F8FC;

  &__box{
    padding: 60px 0 30px 0;
  }

  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin: 0;
    margin-bottom: 50px;
  }

  &__cards-section{
  }

  &__card{
    padding: 40px 15px 10px 15px;
    margin-bottom: 30px;
  }

  &__card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #1D293F;
    margin: 0;
  }

  &__list{
    margin: 0;
  }

  &__list-item{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #475569;
    margin-bottom: 20px;
  }

  &__list-item p{
    margin: 0;
  }

}

.experts{

  &__card{
    padding: 25px 30px;
  }

  &__profile-section{
    width: 100%;
  }

  &__profile-pic{
    display: flex;
    background: #FFFFFF;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 20px;
  }

  &__writer-section{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 11px;
  }

  &__name{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #1D293F;
    margin: 0;
  }

  &__rating-section{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
  }

  &__rating{
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
    margin: 0;
  }

  &__reviews{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
    margin: 0;
    border-left: 1px solid #475569;
    padding-left: 5px;
  }

  &__review-card{
    &--faded{
    }
  }

  &__stats-section{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-top: 1px solid rgba(211, 219, 231, 0.7);
  }

  &__completed{
    display: flex;
    justify-content: space-between;
  }

  &__completed-text{
    display: flex;
    gap: 5px;
  }

  &__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
  }

  &__number{
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    text-align: right;
    color: #1D293F;
  }

  &__joined{
    display: flex;
    justify-content: space-between;
  }

  &__joined-text{
    display: flex;
    gap: 5px;
  }

  &__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
  }

  &__number{
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    text-align: right;
    color: #1D293F;
  }

  &__reviews-section{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
  }

  &__reviews-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 165%;
    color: #1D293F;
    margin: 0;
  }

  &__review-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
  }


  &__user-info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }

  &__user-review{
    display: flex;
    gap: 5px;
  }

  &__user-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
    padding: 0;
    margin: 0;
  }

  &__review-stars{
    display: flex;
    align-items: center;
  }

  &__review-points{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
  }

  &__review-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
    margin: 0;
  }

  // не получається зробити faded ефект
  &__see-all{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #6AA6DA;
    text-decoration: none;
    margin-top: -60px;
  }

  &__pages{
    display: flex;
    margin: auto;
    margin-top: 30px;
  }
}

.completed{
  text-align: center;
  background: #A788CE;
  width: 100%;

  &__box{
    width: 100%;
  }

  &__main-section{
    margin: 20px 0 24px 0;
  }

  &__main-num{
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
  }

  &__main-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  &__add-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
  }

  &__add-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
  }

  &__add-item:nth-child(2){
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 0;
  }

  &__add-num{
    font-weight: 700;
    font-size: 44px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  &__add-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }
}

.connect{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 30px;
  background: #F7F8FC;

  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin: 0;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card{
    display: grid;
    padding: 20px 20px 30px;
    isolation: isolate;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(71, 85, 105, 0.08);
    border-radius: 25px;
    grid-template: 
    "num non img"
    "ttl ttl ttl"
    "txt txt txt";
  }

  &__card-number{
    display: flex;
    justify-content: end;
    grid-area: num;
  }

  &__card-art{
    grid-area: img;
  }

  &__card-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D293F;
    margin: 0;
    grid-area: ttl;
  }

  &__card-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin: 0;
    color: #475569;
    margin-top: 16px;
    grid-area: txt;
  }
}

.happy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
  background: #475569;

  &__top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title{
    font-weight: 600;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
  }

  &__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
  }

  &__rating{
    margin-top: 40px;
  }

  &__reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    box-shadow: 0px 8px 28px rgba(29, 41, 63, 0.28);
    border-radius: 10px;
  }

  &__card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-bottom: 15px;
    gap: 10px;
    border-bottom: 1px solid rgba(211, 219, 231, 0.7);
  }

  &__card-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
    margin: 0;
  }

  &__card-date{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: rgba(71, 85, 105, 0.6);
    margin: 0;
  }

  &__card-rating{
    width: 40%;
  }

  &__card-review{
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  &__card-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin: 0;
    color: #1D293F;
  }

  &__card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #475569;
  }
}

.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 40px;
  isolation: isolate;
  background: #FFFFFF;

  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D293F;
    text-align: center;
    margin-bottom: 40px;
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    gap: 40px;
    background: #FFFFFF;
    border: 2px solid #A788CE;
    border-radius: 25px;
  }

  &__card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin: 0;
    color: #1D293F;
  }

  &__card-ttl-price{
    text-decoration: line-through;
  }

  &__card-ttl-free{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #00B67B;
  }

  &__card-list{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__card-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px;
    border-bottom: 1px solid rgba(211, 219, 231, 0.7);
  }

  &__card-service{
    display: flex;
    flex-direction: row;
    gap: 12.5px;
    width: 100%;
  }

  &__card-tick{
    padding-bottom: 5px;
    width: 20px;
  }

  &__card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D293F;
  }

  &__card-price-section{
    display: flex;
    flex-direction: row;
    gap: 13px;
  }

  &__card-price{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #1D293F;
  }

  &__card-free{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-transform: uppercase;
    color: #00B67B;
  }
  
  &__btn{
    margin-top: 40px;
  }
}

.safety{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 50px;
  background: #F7F8FC;

  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin-bottom: 50px;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__card{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #1D293F;
  }

  &__card-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #475569;

    &--bold{
      font-weight: 600;
    }
  }
}

.assist{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 50px;

  &__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin-bottom: 50px;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item-card{
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    border-radius: 10px;
    padding: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #475569;
  }
}