
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import 'lib/swiper-bundle.min.css';

* {
  font-family: 'Rubik', sans-serif;
  transition: 0.3s;
}

html, body {
  &.scroll-hidden {
    overflow: hidden!important;
  }
}

html {
  margin: 0;
}

body {
  margin: 0;

  @media (min-width: 980px) {
    margin: auto;
  }
}

.container {
  max-width: 100%;
  padding: 0px 25px;

  @media (min-width: 980px) {
    max-width: 1310px;
    margin: auto;
  }
}

img {
  vertical-align: bottom;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  gap: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(211, 219, 231, 0.7);
  border-radius: 25px;
}

.title {
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
  color: #1D293F;

  @media (min-width: 580px) {
    font-size: 44px;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: #EE684E;
  border-radius: 15px;
  //for text inside btn
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;

  &:hover{
    background: #f5836c;
    color: #a1402d;
    cursor: pointer;
  }
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 16px;
}

h3 {
  margin: 0;
}

ul{
  margin: 0;
}

.burger {
  width: 25px;
  z-index: 100;

  @media (min-width: 290px) and (max-width: 360px) {
      padding-top: 5px;
      width: 25px;
  }

  @media (min-width: 380px) {
    padding-top: 5px;
    width: 25px;
  }
  
  @media (min-width: 920px) {
    display: none;
  }

  span {
    display: block;
    font-size: 0;
    width: 100%;
    height: 2px;
    background: #475569;
    margin-bottom: 6px;

    @media (min-width: 290px) and (max-width: 360px) {
      margin-bottom: 5px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        transform: rotate(405deg);
        background: #475569;
      }

      &:nth-child(2) {
        opacity: 0;
        transition: 0ms;
        background: #475569;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -17px;
        background: #475569;
      }
    }
  }
}

.arrow{
  position: absolute;
  margin-top: 455px;
  z-index: 100;
  font-size: 70px;

  padding: 16px 15px;
  background: #F7F8FC;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: rgba(211, 219, 231, 0.5);
  border-radius: 0px 25px 25px 0px;

  &:hover{
    cursor: pointer;
  }

  @media (min-width: 369px) {
    margin-top: 0px;
  }

  @media (min-width: 580px) {
    margin-top: -10px;

    padding: 25px 15px;
    border-color: rgba(211, 219, 231, 0.5);
    // border-radius: 0px 20px 20px 0px;
    
    //змінив стиль просто, щоб виглядало хоч трішки краще, бо 
    //стиль зламався через swiper
    border-radius: 20px 70px 70px 20px;
  }

  @media (min-width: 980px) {
    margin-top: -195px;
    padding: 203px 21px;
  }

  //?після підключення swiper стрілочки не стоять біля краю

  &:nth-child(1){
    left: 0;
  }

  &:nth-child(2){
    right: 0;
    transform: rotate(180deg);
  }
}

.plus {
  width: 25px;
  position: relative;

  span{

    &:nth-child(1){
      position: absolute;
      display: block;
      font-size: 0;
      width: 16.5px;
      height: 2px;
      background: #475569;
      top: 10px;
      right: 0;
      rotate: 90deg;
    }

    &:nth-child(2){
      display: block;
      position: absolute;
      width: 16.5px;
      font-size: 0;
      height: 2px;
      background: #475569;
      right: 0;
      top: 11px;
    }

  }
}

.header {

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(211, 219, 231, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo img{

    @media (min-width: 290px) and (max-width: 360px) {
      
    }
  }

  &__list{
    list-style: none;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s;
    top: 0;
    left: 0;
    right: -20px;
    bottom: 0;
    z-index: 99;
    background: #ffffff;
    color: white;
    margin-top: 66px;

    @media (min-width: 920px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 23px;
      padding-right: 35px;

      position: inherit;
      transform: translateY(0);
    }

    @media (min-width: 980px) {
      gap: 40px;
    }
  }

  .show{
    transform: translateY(66px);

    .header__item{
      display: flex;
      flex-direction: column;
      margin-left: -60px;

      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #475569;

      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 10px;
      border: 1px solid rgba(211, 219, 231, 0.5);
    }

    &:hover{
      background: #E1EDF8;
      border-bottom: 1px solid rgba(211, 219, 231, 0.5);
    }
  }

  &__list a{
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #475569;

    &:hover{
      color: #6DABDD;
    }

    @media (min-width: 920px) {
      font-size: 13px;
      line-height: 20px;
    }

    @media (min-width: 980px) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    @media (min-width: 290px) and (max-width: 360px) {
      gap: 5px;
    }
  }

  &__login{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #475569;
    text-decoration: none;

    &:hover{
      color: #6DABDD;
    }

    @media (min-width: 580px) {
      display: none;
    }
    
    &--extended{
      display: none;
      @media (min-width: 580px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 25px;
        gap: 10px;
        border: 1px solid #D3DBE7;
        border-radius: 15px;

        &:hover{
          color: #6DABDD;
          background: #f5f5f5;
          border: 1px solid #6DABDD;
        }
      }
    }
  }

  &__hire{

    @media (min-width: 290px) and (max-width: 360px) {
      padding: 2px 10px;
    }
    
    @media (min-width: 580px) {
      display: none;
    }

    &--extended{
      display: none;
      @media (min-width: 580px) {
        display: flex;
      }
    }
  }

}

.first-screen {

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 580px) {
      gap: 40px;
    }

    @media (min-width: 980px) {

    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: 580px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: 980px) {
      width: 55%;
      grid-area: form;
    }

    @media (min-width: 1050px) {
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: 580px) {
      width: 100%;
    }
  }

  &__select {
    background: #FFFFFF;
    border: 1px solid #D3DBE7;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    // for text
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475569;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    justify-content: space-around;
    list-style: none;
    margin: 0;

    @media (min-width: 580px) {
      justify-content: start;
    }
  }

  &__list-el {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #6AA6DA;
    border-bottom: 1px solid #6AA6DA;

    &:hover{
      color: #1d78c7;
      cursor: pointer;
      border-bottom: 1px solid transparent;
    }

    &--not-link {
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: #475569;
      border-bottom: transparent;
    }
  }

  &__btn{
    padding: 15px 30px;
    @media (min-width: 580px) {
      width: 60%;
      height: 24px;
      padding: 15px 0;
    }
  }

  &__top{
    @media (min-width: 580px) {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    @media (min-width: 980px) {
      gap: 80px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #475569;

    @media (min-width: 980px) {
      grid-area: text;
    }
  }

  &__image{
    display: none;

    @media (min-width: 580px) {
      display: flex;
    }

    @media (min-width: 980px) {
      width: 1000px;
      grid-area: img;
    }
  }
}

.trusted {
  background: #F7F8FC;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(211, 219, 231, 0.7);

  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 14px;
    padding-bottom: 14px;

    @media (min-width: 980px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    @media (min-width: 980px) {
      align-items: start;
    }
  }

  &__text-by {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #475569;
  }

  &__numbers {
    @media (min-width: 580px) {
      font-weight: 600;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #475569;

    @media (min-width: 980px) {
    }
  }

  &__reviews {
    display: flex;
    gap: 8px;
    justify-content: center;

    @media (min-width: 290px) and (max-width: 360px) {
      align-items: center;
      flex-direction: column;
    }

    @media (min-width: 980px) {
      gap: 40px;
    }
  }

  &__card{
    display: flex;
    align-items: center;
    padding: 6px 8px;
    width: 100%;
    background: #FFFFFF;
    flex-direction: column;
    border: 1px solid rgba(211, 219, 231, 0.5);
    border-radius: 15px;
    gap: 7px;
    
    @media (min-width: 580px) {
      padding: 15px 30px;
      gap: 14px;
    }

    @media (min-width: 980px) {
      align-items: center;
      justify-content: space-around;
      padding: 15px 30px;
    }
  }

  &__review{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__website-icon {

  }

  &__points {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #1D293F;
    margin: 0;

    @media (min-width: 580px) {
      font-size: 18px;
    }
  }

  &__start {
  }
}

.we-know {

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 60px 0;

    @media (min-width: 580px) {
      flex-direction: row;
    }

    @media (min-width: 980px) {
      justify-content: space-between;
    }
  }

  &__img {
  }

  &__text-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #1D293F;

    @media (min-width: 980px) {
      font-size: 34px;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__list-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #475569;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;

    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: #FFE9A9;
      border: 1px solid #A788CE;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 5px;
      box-shadow: 3px 3px 0 #CAAAD8;
    }

    @media (min-width: 980px) {
    }
  }

  &__img{
    @media (min-width: 980px) {
      width: 300px;
    }
  }

}

.your-life {
  gap: 50px;
  background: #F7F8FC;

  &__box {
    padding: 60px 0 30px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin: 0;
    margin-bottom: 50px;
  }

  &__cards-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 290px) and (max-width: 360px) {
      
    }
    
    @media (min-width: 980px) {
      gap: 30px;
      flex-direction: row;
    }
  }

  &__card {
    width: 100%;
    padding: 40px 15px 10px 15px;
    margin-bottom: 30px;

    @media (min-width: 580px){
      width: 75.5%;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #1D293F;
    margin: 0;
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #475569;
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;

    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: #FFE9A9;
      border: 1px solid #A788CE;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 5px;
      box-shadow: 3px 3px 0 #CAAAD8;
    }
  }

  &__list-item p {
    margin: 0;
  }

  &__img {
    width: 100%;
  }

}

.experts {

  &__box{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__online {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;

    @media (min-width: 580px) {
    }
  }

  &__left {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    margin-top: 375px;

    @media (min-width: 580px) {
      margin-top: 275px; 
    }
  }

  &__right {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    margin-top: 375px;

    @media (min-width: 580px) {
      margin-top: 275px; 
    }
  }

  .swiper{
    // width: 600px;
    // height: 300px;
  }

  .swiper-pagination{
    color: red;
  }

  &__list{
    display: flex;
    gap: 40px;

    @media (min-width: 980px) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 200px;
        height: 425px;
        background:  linear-gradient(270deg,rgb(255, 255, 255), transparent);
      }
    }
  }

  //не зміг прибрати 2-го райтера через nth-child -_-
  &__card {
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    position: relative;


    @media (min-width: 580px) {
      flex-direction: row;
    }

    &--hidden{
      display: flex;

      @media (min-width: 980px) {
        // display: flex;
        overflow: hidden;
        width: 500px;

        .experts__online{
          display: none;
        }
      }
    }
  }

  &__profile{
    width: 100%;
    position: relative;

    @media (min-width: 580px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid rgba(211, 219, 231, 0.7);
      padding-right: 30px;
      width: 70%;
    }
  }

  &__profile-pic {
    display: flex;
    background: #FFFFFF;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 20px;

    @media (min-width: 580px) {
      width: 153px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin-bottom: 30px;
  }

  &__writer-section {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 11px;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #1D293F;
    margin: 0;
  }

  &__rating-section {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
  }

  &__rating {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
    margin: 0;
  }

  &__reviews {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
    margin: 0;
    border-left: 1px solid #475569;
    padding-left: 5px;
  }

  &__overflow {
    overflow: hidden;
    height: 150px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: linear-gradient(0deg, #fff, transparent);

      @media (min-width: 580px) {
        display: none;
      }
    }

    @media (min-width: 580px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: auto;
    }
  }

  &__stats-section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-top: 1px solid rgba(211, 219, 231, 0.7);
    gap: 15px;
  }

  &__completed {
    display: flex;
    justify-content: space-between;
  }

  &__completed-text {
    display: flex;
    gap: 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
  }

  &__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    text-align: right;
    color: #1D293F;
  }

  &__joined {
    display: flex;
    justify-content: space-between;
  }

  &__joined-text {
    display: flex;
    gap: 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
  }

  &__number {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    text-align: right;
    color: #1D293F;
  }

  &__reviews-section {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;

    @media (min-width: 580px) {
      gap: 10px;
      width: 100%;
    }
  }

  &__reviews-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 165%;
    color: #1D293F;
    margin: 0;
  }

  &__review-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
  }


  &__user-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }

  &__user-review {
    display: flex;
    gap: 5px;
  }

  &__user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
    padding: 0;
    margin: 0;
  }

  &__review-stars {
    display: flex;
    align-items: center;
  }

  &__review-points {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
  }

  &__review-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #475569;
    margin: 0;
  }

  &__see-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #6AA6DA;
    text-decoration: none;
  }

  &__pages {
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 100%;

    @media (min-width: 580px) {
      width: 330px;
    }
  }
}

.completed {
  text-align: center;
  background: #A788CE;
  width: 100%;

  &__box {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    
    @media (min-width: 980px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 100px;
    }
  }

  &__main-section {
    margin: 20px 0 24px 0;
  }

  &__main-num {
    font-weight: 700;
    font-size: 52px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
  }

  &__main-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  &__add-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;

    @media (min-width: 580px) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media (min-width: 980px) {
      width: 100%;
    }
  }

  &__add-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
  }

  &__add-item:nth-child(2) {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px 0;

    @media (min-width: 580px) {
      border-top: transparent;
      border-bottom: transparent;
      border-left: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
      padding: 0px 40px;
    }
  }

  &__add-num {
    font-weight: 700;
    font-size: 44px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  &__add-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }
}

.connect {
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 30px;
  background: #F7F8FC;
  max-width: 100%;

  &__box{
    display: flex;
    flex-direction: column;
    @media (min-width: 580px) {
      gap: 50px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 580px) {
      gap: 50px;
    }

    @media (min-width: 980px) {
      width: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
    isolation: isolate;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(71, 85, 105, 0.08);
    border-radius: 25px;
    position: relative;

    @media (min-width: 580px) {
      flex-direction: row;
      position: unset;
      gap: 40px;
    }

    &:nth-child(even){
      flex-direction: row-reverse;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 580px) {
      width: 60%;
    }
    @media (min-width: 980px) {
    }
  }

  &__card-number {
    display: flex;
    justify-content: end;
    padding-top: 30%;
    padding-bottom: 12px;
    width: 40px;
    

    @media (min-width: 580px) {
      padding-top: 40px;
    }
  }

  &__card-art {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 37%;
    order: -1;

    @media (min-width: 580px) {
      position: unset;
      max-width: 400px;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D293F;
    margin: 0;
    grid-area: ttl;
  }

  &__card-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin: 0;
    color: #475569;
    grid-area: txt;
  }
}

.happy {
  background: #475569;

  &__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;

    @media (min-width: 580px) {
      flex-direction: row;
      padding: 0;
    }
  }

  &__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    @media (min-width: 580px) {
      justify-content: start;
      align-items: start;
      order: 1;
      width: 75em;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    margin: 0;
    color: #FFFFFF;

    @media (min-width: 580px) {
      text-align: start;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    margin: 0;
    color: #FFFFFF;

    @media (min-width: 580px) {
      text-align: start;
    }
  }

  &__rating {
    margin-top: 40px;

    @media (min-width: 580px) {
      display: flex;
      text-align: start;
    }
  }

  &__powered{
    display: none;
    @media (min-width: 580px) {
      display: flex;
      align-items: start;
      justify-content: start;
    }
  }

  &__trustpilot{
    display: none;
    @media (min-width: 580px) {
      display: flex;
      align-items: start;
      justify-content: start;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 580px) {
      overflow: hidden;
      height: 495px;
      position: relative;

      @media (min-width: 845px) {
          height: 420px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, rgba(211, 219, 231, 0.5) 0%, rgba(211, 219, 231, 0) 100%);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, rgba(211, 219, 231, 0) 0%, rgba(211, 219, 231, 0.5) 100%);
      }
    }

    @media (min-width: 980px) {
      overflow: hidden;
      height: 595px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, rgba(211, 219, 231, 0.5) 0%, rgba(211, 219, 231, 0) 100%);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(180deg, rgba(211, 219, 231, 0) 0%, rgba(211, 219, 231, 0.5) 100%);
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    box-shadow: 0px 8px 28px rgba(29, 41, 63, 0.28);
    border-radius: 10px;
  }

  &__card:nth-child(1){
    @media (min-width: 580px) {
      display: none;
    }
    @media (min-width: 980px) {
      display: flex;
      margin-top: -25px;
    }
  }

  &__card:nth-child(2){
    @media (min-width: 580px) {
    }
    @media (min-width: 980px) {
    }
  }

  &__card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-bottom: 15px;
    gap: 10px;
    border-bottom: 1px solid rgba(211, 219, 231, 0.7);
  }

  &__card-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #1D293F;
    margin: 0;
  }

  &__card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: rgba(71, 85, 105, 0.6);
    margin: 0;
  }

  &__card-rating {
    width: 40%;
  }

  &__card-review {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  &__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin: 0;
    color: #1D293F;
  }

  &__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    color: #475569;
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 40px;
  isolation: isolate;
  background: #FFFFFF;

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D293F;
    text-align: center;
    margin-bottom: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    gap: 40px;
    background: #FFFFFF;
    border: 2px solid #A788CE;
    border-radius: 25px;
    box-shadow: 10px 10px 0 #CAAAD8;

    @media (min-width: 580px) {
      padding: 40px 60px;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    margin: 0;
    color: #1D293F;
  }

  &__card-ttl-price {
    text-decoration: line-through;
  }

  &__card-ttl-free {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #00B67B;
  }

  &__card-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__card-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px;
    border-bottom: 1px solid rgba(211, 219, 231, 0.7);
  }

  &__card-service {
    display: flex;
    flex-direction: row;
    gap: 12.5px;
    width: 100%;
  }

  &__card-tick {
    padding-bottom: 5px;
    width: 20px;
  }

  &__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D293F;
  }

  &__card-price-section {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }

  &__card-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #1D293F;
  }

  &__card-free {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-transform: uppercase;
    color: #00B67B;
  }

  &__btn {
    margin-top: 40px;
  }
}

.safety {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 50px;
  background: #F7F8FC;

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 580px) {
      align-items: center;
    }

    @media (min-width: 980px) {
      flex-direction: row;
      margin: auto;
      width: 71%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 580px) {
      width: 51.3%;
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #1D293F;
  }

  &__card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #475569;

    &--bold {
      font-weight: 600;
    }
  }
}

.assist {

  &__box{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 580px) {
      display: grid;
      grid-template: 
        "itm itm itm"  
        "itm itm itm"
        "itm itm itm"
        "itm itm itm";
    }

    @media (min-width: 980px) {
      width: 100%;
      grid-template: 
        "itm itm itm itm"  
        "itm itm itm itm" 
        "itm itm itm itm";
    }
  }

  &__item {
    background: #FFFFFF;
    border: 1px solid rgba(211, 219, 231, 0.7);
    border-radius: 10px;
    padding: 15px;
    //for text
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #475569;

    @media (min-width: 580px) {
      padding: 50px 20px 22px 20px;
    }

    &--add{
      display: none;

      @media (min-width: 580px) {
        display: flex;
      }
    }
  }
}

.customer-care {
  background: #F7F8FC;

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 50px;

    @media (min-width: 580px) {
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 19px;

    @media (min-width: 580px) {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }

    @media (min-width: 980px) {
    }
  }


  //потрібно змінити розмір картинки
  &__image {

    @media (min-width: 580px) {
      order: 2;
    }
  }

  &__list-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 18px;

    @media (min-width: 290px) and (max-width: 360px) {
      padding: 0 25px;
    }

    @media (min-width: 580px) {
      order: 1;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__list-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #1D293F;
  }

  &__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #1D293F;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;

    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: #FFE9A9;
      border: 1px solid #A788CE;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 5px;
      box-shadow: 3px 3px 0 #CAAAD8;
    }
  }

  &__button {
    width: 33%;
    padding: 15px 30px;
    gap: 10px;
    background: #6AA6DA;
    border-radius: 15px;
    //for text insite btn
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    
    @media (min-width: 290px) and (max-width: 360px) {
      width: 35%;
      padding: 10px 25px;
    }

    &:hover{
      color: #5795ca;
      background: #93cbfc;
    }
  }
}

.faq {

  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 50px;
    
    @media (min-width: 980px) {
      margin: auto;
      max-width: 780px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 130%;
    text-align: center;
    color: #1D293F;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 30px;
    gap: 10px;
    background: #F7F8FC;
    border: 1px solid rgba(211, 219, 231, 0.7);
    border-radius: 15px;


    //? не розширяється по всій ширині
    @media (min-width:580px) {
      width: 100%;
    }

    // &--selected {
    //   flex-direction: column;
    // }

    &:hover{
      cursor: pointer;
      // .faq__question{
      //   color: #6AA6DA;
      // }
      .plus{
        span{
          background: #6AA6DA;
          &:nth-child(1){
            margin-top: 1px;
            opacity: 50%;
            transform: rotate(450deg);
          }

          &:nth-child(2){
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__top {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    &--selected {
      justify-content: space-between;
    }
  }

  &__question {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #475569;

    // &--selected {
    //   font-weight: 500;
    //   font-size: 20px;
    //   line-height: 140%;
    //   color: #6AA6DA;
    // }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #1D293F;
    display: none;

    // &--selected {
    //   display: block;
    // }
  }

  .crd-faq-js{
    flex-direction: column;
    // width: 800px;
    
    .faq__question{
      color: #6AA6DA;
    }

    .faq__text{
      display: block;
    }
  }
}

.how-to {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px;
  gap: 50px;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (min-width: 980px) {
      margin: auto;
      max-width: 780px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D293F;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #1D293F;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    border: 1px solid #6AA6DA;
    border-radius: 15px;
    //text in the button
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    color: #6AA6DA;
    width: 33%;

    &:hover{
      color: #ffffff;
      background: #93cbfc;
      border: 1px solid transparent;
    }
  }

  // &__text-add{
  //   display: none;
  // }

  .hide-text{
    display: none
  }
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;

  @media (min-width: 580px) {
    align-items: center;
  }

  @media (min-width: 980px) {
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 45px;
    background: #E1EDF8;
    border-radius: 25px;

    @media (min-width: 580px) {
      flex-direction: row;
    }

    @media (min-width: 980px) {
    }

  }

  &__card-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__card-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1D293F;
  }

  &__card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 165%;
    color: #1D293F;
  }

  &__card-btn{

    @media (min-width: 580px) {
      width: 53%;
    }

    @media (min-width: 760px) {
      width: 28%;
      padding: 15px 30px;
    }
  }


}

.footer {
  background: #475569;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 50px;

    @media (min-width: 980px) {
      display: grid;
      grid-template: 
        "txt map acpt"
        "info map cntct";
      gap: 30px;
      justify-content: space-between;
    }
  }

  &__section:nth-child(1){
    @media (min-width: 980px) {
      grid-area: txt;
    }
  }

  &__section:nth-child(2){
    @media (min-width: 980px) {
      grid-area: map;
    }
  }

  &__section:nth-child(3){
    @media (min-width: 980px) {
      grid-area: acpt;
    }
  }

  &__section:nth-child(4){
    @media (min-width: 980px) {
      grid-area: cntct;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #D3DBE7;
  }

  &__site-map-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #C8DEFE;
    text-decoration: none;

    &:hover{
      color: #e7f1ff;
    }

    @media (min-width: 580px) {
      width: auto;
    }
  }

  &__map{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: 580px) {
      display: flex;
      flex-direction: row;
    }
    
    @media (min-width: 980px) {
      flex-direction: column;
    }
  }

  &__map-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    gap: 40px;

    @media (min-width: 980px) {
      flex-direction: column;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
  }

  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: 580px) {
      flex-direction: row;
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    gap: 7.5px;
  }


  &__contact-info a{
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #C8DEFE;
    text-decoration: none;

    &:hover{
      color: #e7f1ff;
    }
  }

  &__br{
    @media (min-width: 580px) {
      display: none;
    }
  }
}
